.container {
    height: 7vh;
    background-color: #2f313a;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 1vh 0.5vw;
    margin-bottom: 2vh;
}

.logo {    
    order: 1;
}

.title {
    order: 2;
    align-self: center;
    font-size: 3rem;
    font-family: 'Rye', cursive;
    text-decoration: none;
    color: #ff6768;
}

.title:hover {
    color: #ee9476
}

.settings {
    order: 3;
    align-self: center;
}
