__pycache__
.config.json
model/build
model/data
model/tests
model/logs
model/processed_data.txt
model/testing_data.txt
model/training_data.txt
model/validate_data.txt
model/finModel
model/modelTestercopy.py