__pycache__
*.config.json
model/build
model/dataset
model/tests
model/logs
model/processed_data.txt
model/testing_data.txt
model/training_data.txt
model/validate_data.txt
model/testRes.txt
model/modelTestercopy.py
model/*.log
model/bin
model/dataset.headers.json
logs