.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    flex-wrap: wrap;
}

.roundImage {
    width: 25vw;
}

.logo {
    width: 30vw;
}

.advRoomCode {
    width: 60vw;
}

.backButton {
    flex-basis: 100vw;
    text-align: center;
}

.textarea{
    flex-basis: 70%;
}