.container {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    transition: background-color 0.5s ease;
    border-radius: 15px;
    color: #ff6768;
}

.container:hover {
    color: cornsilk !important;
    background-color: #ff6768;
}

.selected {
    color: cornsilk;
    background-color: #ff6768;
}
.charactername {
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.username {
    font-size: 1vw;
    color: #ffa3a4;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
