.button {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    float: left;
}

.buttonStyling {
    height: 40px;
    min-width: 40px;
    background-color: transparent;
    border-color: #191b25;
    color: #191b25;
}

.buttonStyling:hover {
    background-color: #191b25;
    color: #ffa3a4;
    border-color: transparent;
}
