.button,
.button:disabled {
    min-width: 40px;
    height: 40px;
    border-radius: 20%;
    padding: 0;
    margin: 0;
    width: inherit;
}

.buttonStyling,
.buttonStyling:disabled {
    height: 40px;
    min-width: 40px;
    background-color: transparent;
    border-color: #ff6768;
    color: #ff6768;
}

.buttonStyling:hover {
    background-color: #191b25;
    color: #ffa3a4;
    border-color: #ff6768;
}

.buttonStyling:focus,
.buttonStyling:active {
    box-shadow: none !important;
    outline: none !important;
    border-color: #ff6768;
    background-color: #191b25;
    color: #ffa3a4;
}

.noRound{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
