.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 90vh;
    flex-wrap: wrap;
}

.roundImage {
    width: 25vw;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.roundImage:hover {
    opacity: 0.8;
}

.logo {
    width: 30vw;
}

.RoomCode {
    width: 60vw;
}

.backButton {
    flex-basis: 100vw;
    text-align: center;
}

.textarea {
    flex-basis: 70%;
}

.submit {
    background-color: #2f313a;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    color: #ff6768;
    border-radius: 5px;
}
