.container {
    height: 80vh;
    padding: 2vh 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 15px;
    background-color: #2f313a;
}

.text{
    color: white;
}

.imageurl{
    max-height: 22vh;
    width: auto;
    height: auto;
}

.arrayCols{
    height: 18vh;
    overflow-y: scroll;
}

h3{
    font-size: medium;
}