.container{
    display: flex;
}

.characterContainer{
    background-color: darksalmon;
    flex-grow: 2;
}

.mapDiceContainer{
    background-color: darkolivegreen;
    flex-grow: 1;
    flex-direction: column;
}

.mapContainer{
    height: 40vh;
    background-color: darkkhaki;
    
}

.diceContainer{
    height: 40vh;
    background-color: darkseagreen;
    
}

.chatContainer{
    background-color: darkgrey;
    flex-grow:3
}